PORT=8090

DASH_CITY=Cesario Lange
DASH_LAT=-23.2267
DASH_LON=-47.9531
DASH_TIMEZONE=America/Sao_Paulo

DASH_GITHUB_USER=LuizEduPP
DASH_GITHUB_TOKEN=

DASH_AI_URL=https://ai-gateway.kmali.online/api/chat
DASH_AI_MODEL=qwen3.5:0.8b
DASH_AI_TOKEN=

DASH_OTA_TOKEN=
